/* ----------- main color start ----------- */
/* ----------- font-size start ----------- */
#center, #login-page, #edit-profile .container .row .cards {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#button, #login-page .btn-outline-primary, #edit-profile .container .row .cards .col-7 button {
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px !important;
  border-color: #1e398f;
  border-radius: 0px;
  background-color: none;
  color: #1e398f;
  font-weight: bold;
  letter-spacing: 1px;
}

#button:hover, #login-page .btn-outline-primary:hover, #edit-profile .container .row .cards .col-7 button:hover {
  right: 0px;
  background: #1e398f;
  color: white;
}

@media only screen and (max-width: 992px) {
  .menu-box-middle .search-and-icons .search-input {
    width: 220px !important;
  }
  .menu-box-middle .search-and-icons .search-input input {
    width: 220px !important;
  }
}

@media only screen and (max-width: 1400px) {
  #cookie-and-icecream .box img {
    height: 245px;
  }
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-track {
  border: 7px;
  -webkit-box-shadow: inset 0 0 10px rgba(51, 48, 48, 0.13);
          box-shadow: inset 0 0 10px rgba(51, 48, 48, 0.13);
}

html ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ee7100;
}

/***********-HEADER 1 START-***********/
#header-part-1 {
  padding-top: 5px;
  padding-bottom: 10px;
}

#header-part-1 .container .row {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(51, 48, 48, 0.13);
          box-shadow: 0px 8px 16px 0px rgba(51, 48, 48, 0.13);
  border-radius: 25px;
  border: none;
}

#header-part-1 .container .row .head-nav {
  height: 75px;
}

#header-part-1 .container .row .head-nav .col {
  margin-top: 14px;
}

#header-part-1 .container .row .head-nav .col .profile .icon {
  font-size: 20px;
  margin: 10px;
  margin-top: 2px;
}

#header-part-1 .container .row .head-nav .col .profile .icon a i {
  border: 1px solid #ee7100;
  padding: 10px;
  border-radius: 50px;
  color: #ee7100;
}

#header-part-1 .container .row .head-nav .col .profile .icon a i:hover {
  color: #af5201;
  border: 1px solid #af5201;
}

#header-part-1 .container .row .head-nav .col .profile .user-profile a {
  text-decoration: none;
  font-weight: bold;
  color: #ee7100;
}

#header-part-1 .container .row .head-nav .col .profile .user-profile a:hover {
  color: #af5201;
}

#header-part-1 .container .row .head-nav .col .profile .user-profile a i {
  padding-left: 11px !important;
  padding-right: 11px !important;
}

#header-part-1 .container .row .head-nav .col .logo {
  margin-top: -8px;
  margin-left: 25%;
}

#header-part-1 .container .row .head-nav .col .logo img {
  width: 200px;
  height: 60px;
}

#header-part-1 .container .row .head-nav .col .choose-language {
  margin-top: -6px;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropbtn {
  color: #ee7100;
  background-color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropbtn:hover {
  color: #af5201;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown {
  position: relative;
  display: inline-block;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown img {
  margin-top: -6px;
  margin-left: 10px;
  width: 30px;
  height: 20px;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown:hover .dropdown-content {
  display: block;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(51, 48, 48, 0.13);
          box-shadow: 0px 8px 16px 0px rgba(51, 48, 48, 0.13);
  z-index: 1;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown-content a:hover {
  background-color: rgba(158, 158, 158, 0.068);
  border-left: 2px solid #ee7100;
}

/***********-HEADER 1 END-***********/
/***********-CARDS START-***********/
#dashboard .container .row {
  margin-top: 70px;
  margin-left: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dashboard .container .row h3 {
  color: rgba(70, 66, 66, 0.658);
  font-size: 30px;
  margin-bottom: 30px;
}

#dashboard .container .row .cards {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(51, 48, 48, 0.13);
          box-shadow: 0px 0px 10px 5px rgba(51, 48, 48, 0.13);
  border-radius: 7px;
  text-align: center;
  width: 280px;
  height: 100%;
}

#dashboard .container .row .cards h3 {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #1e398f;
}

#dashboard .container .row .cards .list {
  list-style: none;
  margin-left: -33px;
  margin-top: -29px;
}

#dashboard .container .row .cards .list a {
  text-decoration: none;
  color: black;
}

#dashboard .container .row .cards .list a li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(51, 48, 48, 0.13);
}

#dashboard .container .row .cards .list a li:hover {
  background-color: rgba(51, 48, 48, 0.13);
}

#dashboard .container .row .cards .text {
  padding-bottom: 3px;
}

#dashboard .container .row .cards .text a {
  color: #1e398f;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

#cards {
  padding-bottom: 80px;
}

#cards .container .row {
  margin-top: 70px;
}

#cards .container .row .card-list {
  margin-top: 40px;
}

#cards .container .row .card-list a {
  text-decoration: none;
}

#cards .container .row .card-list .card {
  border-radius: 50px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1e398f;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

#cards .container .row .card-list .card i {
  margin-top: 20px;
  font-size: 50px;
}

#cards .container .row .card-list .card .card-body .card-text {
  font-size: small;
  font-weight: bold;
  margin-top: 15px;
  white-space: nowrap;
}

#cards .container .row .card-list .card:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(51, 48, 48, 0.13);
          box-shadow: 0px 0px 10px 5px rgba(51, 48, 48, 0.13);
}

/***********-CARDS END-***********/
/***********- START-***********/
#footer {
  background-color: #1e398f;
}

/***********- END-***********/
@media only screen and (max-width: 992px) {
  .menu-box-middle .search-and-icons .search-input {
    width: 220px !important;
  }
  .menu-box-middle .search-and-icons .search-input input {
    width: 220px !important;
  }
}

@media only screen and (max-width: 1400px) {
  #cookie-and-icecream .box img {
    height: 245px;
  }
}

#login-page {
  margin-top: -50px;
}

#login-page .login-box {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 20px;
  height: auto;
  border-radius: 10px;
  text-align: center;
}

#login-page .login-key img {
  display: block;
  padding-top: 10px;
  width: 250px;
  height: 90px;
  font-size: 80px;
  line-height: 100px;
  -webkit-text-fill-color: transparent;
}

#login-page .login-forms {
  position: relative;
  margin-top: -20px;
  margin-left: 20px;
}

#login-page .login-forms .login-form {
  margin-top: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
}

#login-page input[type=text] {
  border: none;
  border-bottom: 2px solid #1e398f;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
}

#login-page input[type=password] {
  border: none;
  border-bottom: 2px solid #1e398f;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
}

#login-page .form-group {
  margin-bottom: 40px;
  width: 300px;
  margin-left: 120px;
  outline: 0px;
}

#login-page .form-control {
  background-color: rgba(158, 158, 158, 0.068);
}

#login-page .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

#login-page input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

#login-page label {
  margin-bottom: 0px;
}

#login-page .form-control-label {
  font-size: 10px;
  color: #1e398f;
  font-weight: bold;
  letter-spacing: 1px;
}

#login-page .btn-outline-primary {
  margin-right: 20px;
}

#login-page .login-btm {
  margin-left: 94px;
}

#login-page .login-button {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

#login-page .login-text {
  text-align: left;
  padding-left: 0px;
}

#login-page .loginbttm {
  padding: 0px;
}

@media only screen and (max-width: 992px) {
  .menu-box-middle .search-and-icons .search-input {
    width: 220px !important;
  }
  .menu-box-middle .search-and-icons .search-input input {
    width: 220px !important;
  }
}

@media only screen and (max-width: 1400px) {
  #cookie-and-icecream .box img {
    height: 245px;
  }
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-track {
  border: 7px;
  -webkit-box-shadow: inset 0 0 10px rgba(51, 48, 48, 0.13);
          box-shadow: inset 0 0 10px rgba(51, 48, 48, 0.13);
}

html ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ee7100;
}

/***********-HEADER 1 START-***********/
#header-part-1 {
  padding-top: 5px;
  padding-bottom: 10px;
}

#header-part-1 .container .row {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(51, 48, 48, 0.13);
          box-shadow: 0px 8px 16px 0px rgba(51, 48, 48, 0.13);
  border-radius: 25px;
  border: none;
}

#header-part-1 .container .row .head-nav {
  height: 75px;
}

#header-part-1 .container .row .head-nav .col {
  margin-top: 14px;
}

#header-part-1 .container .row .head-nav .col .profile .icon {
  font-size: 20px;
  margin: 10px;
  margin-top: 2px;
}

#header-part-1 .container .row .head-nav .col .profile .icon a i {
  border: 1px solid #ee7100;
  padding: 10px;
  border-radius: 50px;
  color: #ee7100;
}

#header-part-1 .container .row .head-nav .col .profile .icon a i:hover {
  color: #af5201;
  border: 1px solid #af5201;
}

#header-part-1 .container .row .head-nav .col .profile .home-page a {
  text-decoration: none;
  font-weight: bold;
  color: #ee7100;
}

#header-part-1 .container .row .head-nav .col .profile .home-page a:hover {
  color: #af5201;
}

#header-part-1 .container .row .head-nav .col .profile .home-page a i {
  font-size: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 9px;
  padding-right: 8.5spx;
}

#header-part-1 .container .row .head-nav .col .logo {
  margin-top: -8px;
  margin-left: 25%;
}

#header-part-1 .container .row .head-nav .col .logo img {
  width: 200px;
  height: 60px;
}

#header-part-1 .container .row .head-nav .col .choose-language {
  margin-top: -6px;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropbtn {
  color: #ee7100;
  background-color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropbtn:hover {
  color: #af5201;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown {
  position: relative;
  display: inline-block;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown img {
  margin-top: -6px;
  margin-left: 10px;
  width: 30px;
  height: 20px;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown:hover .dropdown-content {
  display: block;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(51, 48, 48, 0.13);
          box-shadow: 0px 8px 16px 0px rgba(51, 48, 48, 0.13);
  z-index: 1;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header-part-1 .container .row .head-nav .col .choose-language .dropdown-content a:hover {
  background-color: rgba(158, 158, 158, 0.068);
  border-left: 2px solid #ee7100;
}

/***********-HEADER 1 END-***********/
/***********-PROFILE START-***********/
#edit-profile {
  margin-top: 35px;
}

#edit-profile .container .row h3 {
  font-size: 30px;
  color: rgba(70, 66, 66, 0.658);
  margin-bottom: 30px;
}

#edit-profile .container .row .cards {
  margin-top: 70px;
  width: 800px;
  padding-right: 5px !important;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(51, 48, 48, 0.13);
          box-shadow: 0px 8px 16px 0px rgba(51, 48, 48, 0.13);
  border-radius: 20px;
  padding: 40px;
}

#edit-profile .container .row .cards .col-4 {
  margin-top: 70px;
}

#edit-profile .container .row .cards .col-4 i {
  margin-left: 35px;
  color: rgba(70, 66, 66, 0.658);
  background-color: rgba(158, 158, 158, 0.068);
  font-size: 100px;
  border: 1px solid rgba(70, 66, 66, 0.658);
  padding: 50px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 50%;
}

#edit-profile .container .row .cards .col-4 .col-1 {
  border-bottom: 1px solid #1e398f;
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-top: 40px;
}

#edit-profile .container .row .cards .col-4 .text span {
  white-space: nowrap;
  color: #1e398f;
  font-weight: bold;
  margin-left: 33px;
  font-size: 25px;
}

#edit-profile .container .row .cards .col-1 {
  width: 60px;
  border-right: 1px solid #1e398f;
}

#edit-profile .container .row .cards .col-7 {
  margin-left: 50px;
}

#edit-profile .container .row .cards .col-7 input {
  margin-top: 3px;
}

#edit-profile .container .row .cards .col-7 .input {
  width: 200px;
  margin: 20px;
  margin-left: 75px;
}

#edit-profile .container .row .cards .col-7 .input span {
  font-weight: bold;
  font-size: 18px;
}

#edit-profile .container .row .cards .col-7 button {
  border: none;
  border: 1px solid #1e398f;
  margin-top: 10px;
  margin-left: 90px;
}

/***********-PROFILE END-***********/
/*# sourceMappingURL=import.css.map */